@mixin flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  @include flexRow;
}

.searchInputBtn {
  @media (max-width: 1000px) {
    margin-bottom: 2rem;
  }
}

.searchInputBtn {
  @include flexRow;
}

.logo {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

.menuIcon {
  color: #b4b6b8;
  font-size: 1.8rem;
  cursor: pointer;
  display: none;

  @media (max-width: 1000px) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.searchInput {
  height: 4.25rem;
  padding: 0 2.5rem;
  width: 23rem;
  border: 0;
  outline: 0;

  @media (max-width: 350px) {
    width: 20rem;
  }
}

.searchBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4.25rem;
  margin-left: 1rem;
  padding: 0 0.6rem;
  border: 2px solid #4bbf73;
  color: #4bbf73;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 1.2rem;

  &:hover {
    background: #4bbf73;
    color: #fff;
  }
}

.navLinks {
  @include flexRow;
  font-size: 1.3rem;
  font-weight: 500;

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }

  > * {
    @media (max-width: 1000px) {
      margin-bottom: 1rem;
    }
  }

  > * > div {
    margin-right: 2rem;

    @media (max-width: 1000px) {
      margin-right: 0 !important;
    }
  }
}

.cart,
.signIn,
.user,
.logout,
.users,
.products,
.orders {
  @include flexRow;
  cursor: pointer;
  transition: 0.15s;
  color: #b4b6b8;

  &:hover {
    color: #fff;
  }
  > * {
    margin-right: 0.5rem;
  }
}

.logout {
  margin-right: 0 !important;
}

.userIcon {
  font-size: 1.1rem;
}
