.back {
  transition: all 0.15s;
  display: inline-block;
  padding: 1.3rem 2.3rem;
  color: #333;
  font-size: 1.3rem;
  font-weight: 500;

  &:hover {
    background: #ececec;
  }
}

.form {
  margin-top: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  input {
    background: #f7f7f9;
    padding: 1.3rem 1.8rem;
    border: 0;
    margin-top: 0.7rem;

    &:focus {
      outline: 1px solid rgb(80, 79, 79);
    }
  }
}

.imageInputGroup {
  background: #f7f7f9;
  margin-top: 0.8rem;
  width: 100%;

  >input {
    width: 100%;
  }
}

.upload {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  label {
    margin-left: 1.3rem;
  }
}

.formCheck {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;

  input {
    margin-right: 0.5rem;
    width: 2rem;
  }
}

.submitBtn {
  padding: 1.5rem 0;
  color: #fff;
  background: #070707;
  width: 9rem;
  font-weight: 500;
  border: 0;
  outline: 0;
  &:hover {
    background: #222222;
  }
}
