@mixin FlexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.productsWrapper {
  position: relative;
  overflow-x: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */

  &::-webkit-scrollbar {
    width: 0;
  }
}

.productsHeading {
  @include FlexRow;
  position: sticky;
  top: 0;
  left: 0;
  justify-content: space-between;
}

.createProductBtn {
  @include FlexRow;
  background: #070707;
  color: #fff;
  padding: 0.8rem 1.5rem;
  font-size: 1.3rem;
  cursor: pointer;

  &:hover {
    background: #222222;
  }

  @media (max-width: 500px) {
    div {
      display: none;
    }
  }
}

.productsTable {
  margin-top: 2rem;
}

.tableHead,
.user {
  display: grid;
  grid-template-columns: 2.5fr 2.65fr 1.15fr 1.25fr 1.05fr 1.4fr;
  grid-gap: 2rem;
  min-width: 100rem;
}

.tableHead {
  font-weight: 500;
}

.tableHead {
  padding: 0.9rem 0.8rem;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  font-size: 1.4rem;
}

.user {
  padding: 1.4rem 0.8rem;

  &:nth-child(even) {
    background: #fff;
  }
  &:nth-child(odd) {
    background: #f2f2f2;
  }
}

.mailTo {
  &:hover {
    text-decoration: underline;
  }
}

.timesIcon {
  color: #ff0000;
}

.checkIcon {
  color: #048804;
}

.deleteEditIcons {
  @include FlexRow;
}

.editIcon,
.deleteIcon {
  width: 4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.editIcon {
  background: #fff;
}

.deleteIcon {
  background: #ff0000;
  color: #fff;
}
